.box-config {
  width: 100%;
  margin-left: 0%;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}
.tittle-config {
  padding: 50px 48px;
  font-size: 80%;
}
.second-tittle-config {
  padding: 30px 48px;
  font-size: 100%;
}
.content-config {
  padding: 0px 48px 24px 48px;
}
.content-config-footer {
  padding: 30px 48px;
}
.image-config {
  height: 180px;
}
.table-config {
  margin: 0px auto;
}
.button {
  background-color: white;
  border: black;
  color: black;
  padding: 1px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  line-height: -90%;
}
.button:hover {
  color: grey;
}
.button-footer {
  background-color: white;
  border: black;
  color: black;
  padding: 1px 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  line-height: -90%;
}
.button-footer:hover {
  color: grey;
}
