.box-config {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}
.tittle-config {
  font-size: 140%;
  padding: 2.5%;
}
.second-tittle-config {
  font-size: 100%;
  padding: 2.5%;
}
.content-config {
  padding: 2.5%;
}
.image-config {
  height: 180px;
  max-width: 100%;
}
.list-config {
  list-style-type: none;
  line-height: 1.5em;
}
.button {
  background-color: white;
  border: black;
  color: black;
  padding: 1px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  line-height: -90%;
}
.button:hover {
  color: grey;
}
.button-footer {
  background-color: white;
  border: black;
  color: black;
  padding: 1px 3px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  line-height: -90%;
}
.button-footer:hover {
  color: grey;
}
